/* Container do formulário */
.form-container {
    max-width: 700px;
    margin: 50px auto;
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 25px var(--shadow-color);
    text-align: left;
}

.form-container h2 {
    color: var(--dark-green);
    font-size: 2em;
    margin-bottom: 15px;
}

.form-container p {
    color: var(--light-text-color);
    margin-bottom: 30px;
}

/* Campos */
.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--medium-text-color);
}

.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s ease-in-out;
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
    border-color: var(--olive-green);
    outline: none;
    box-shadow: 0 0 5px rgba(107, 142, 35, 0.2);
}

/* Botão */
.form-container button {
    width: 100%;
    background-color: var(--olive-green);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 50px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.form-container button:hover {
    background-color: var(--dark-olive-green);
    transform: translateY(-2px);
}
